body {
    margin: 0;
    padding: 0;
}

header {
    background-color: cadetblue;
    display: flex;
}

a {
    margin-right: 20px;
}

.sessions {
    display: flex;
    background-color: cornflowerblue;
}

.place {
    width: 30%;
}